@import "bootstrap-sprockets";
@import "bootstrap";

/* sidebar */

#menu-toggle {
    z-index: 1;
}

#menu-close {
margin-top: -30px;
margin-right: 10px;
}

html {
  position: relative;
  min-height: 100%;
}

footer {
  position: absolute;
  bottom: -100px;
  width: 100%;
}

header {
  width: 100%;
}
/* forms */

.img-panel {
  height: 200px;
  width: 200px;
  text-align: center;
}

.btn-product {
  width: 100%;
}

.center-block {
  margin: 0 auto;
  width: 80%;
}

.btn-product:hover {
  background-color: transparent;
}

.panel-img:hover {
  border-color: #DABFA7;
  box-shadow: inset 0 0px 0px #DABFA7, 0 0 0px rgb(0,0,0);
}

.panel-img {
  border-color: #DABFA7;
  border-width: 1px;
}

.panel-order {
  background-color: #ffd944;
  width: auto;
}

.panel-order .input-group{
  width: 100%;
}

.panel-order .input-group .btn-primary{
  width: 100%;
}

.panel-order .input-group .selection-row .selection-label {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #F4764B;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.selection-label-content {
  width: 100%;
  padding-left: 20px;
}

.selection-label-btn {
  margin: 10px;
}

/* forms */

.field_with_errors {
  color: blue;
  display: inline;
  .form-control {
    border: none;
  }
}

@font-face {
  font-family: "Cavorting";
  src: url('/assets/Cavorting');
}

@font-face {
  font-family: "ClaireHandRegular";
  src: url('/assets/ClaireHandRegular');
}

.cavorting-font {
  font-family: "Cavorting", "sans-serif";
  font-size: 25px;
  display: block;
}

.claire-font {
  font-family: "ClaireHandRegular", "sans-serif";
  font-size: 25px;
  display: block;
}

.claire-title-font {
  font-family: "ClaireHandRegular", "sans-serif";
  font-size: 35px;
  display: block;
}

 h1 {
  font-family: "ClaireHandRegular", "sans-serif";
  font-size: 35px;
  display: block;
}
h2 {
 font-family: "ClaireHandRegular", "sans-serif";
 font-size: 25px;
 display: block;
}

.span-icons {
  font-family: "Cavorting", "sans-serif";
  font-size: 20px;
}

.satisfaction-row {
  background-color: #FEE600;
  padding-top: 80px;
  padding-bottom: 80px;
}

.products-row {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.products-header-row {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* navbar */

.navbar-footer {
  background-color: #282727;
  margin-bottom: 0;
}

.navbar .nav li a .span-icons{

}

.navbar .nav li:hover a {
  color: #F4764B;
  background-color: transparent;
}

.navbar .nav li a {
  color: white;
}

.navbar-menu .nav li a {
  font-size: 25px;
}

.navbar-cart .nav li a {
  font-size: 25px;
}

.navbar-header .nav li a:hover {
  color: #F4764B;
}

.navbar-second .nav li a:hover {
  color: #F4764B;
}

.navbar-principal{
  background-color: transparent;
  border-bottom-width: 1px;
  border-bottom-color: #F4764B;
}

.jumbotron {
  width: 100%;
  background-size: cover;
  height: 800px;
  top: 0;
  margin-top: -180px;
}

.jumbotron h1 {
  color: white;
  margin-top: 300px;
}

h5:link {
  color: #F4764B;
}


.cart-row {
  border-bottom-width: 1px;
  border-bottom-radius: 3px;
  border-bottom-style: solid;
  border-color: #F4764B;
}

.cart-row-content{
  margin: 10px;
}

.cart-row-sidebar {
}

.brand-bottom {
  margin-bottom: auto;
  position: relative;
  display: inline-block;
  font-size: 50px;
  color: white;
}

.row-bottom {
  margin-top: 50px;
margin-bottom: 100px;
}


@media only screen and (max-width: 768px) {
  /* cart sidebar*/

  .row-sidebar {
    border-color: rgb(254, 137, 44);
    box-shadow: inset 0 0px 0px rgb(254, 137, 44), 0 0 0px rgb(0,0,0);
  }

  .container-sidebar {
    padding-left: 0px;
    padding-right: 0px;
  }

  #sidebar-wrapper {
      margin-right: -70%;
      right: 0;
      top: -20px;
      width: 70%;
      background: white;
      position: fixed;
      height: 120%;
      overflow-y: auto;
      z-index: 1000;
      -webkit-transition: all 0.4s ease 0s;
      -moz-transition: all 0.4s ease 0s;
      -ms-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s;
  }

  #sidebar-wrapper.active {
      right: 70%;
      width: 70%;
      border-right: 1px solid #ccc;
      -webkit-transition: all 0.4s ease 0s;
      -moz-transition: all 0.4s ease 0s;
      -ms-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s;
  }

  #sidebar-content {
    display: block;
    padding-top: 20px;
    max-width: 90%;
    margin: 0 auto;
    padding-left: 10px;
  }

  .sidebar-nav {
      width: 100%;
      list-style: none;
      margin: 0px auto;
      padding: 16px 0px;
      font-size: 15px;
  }

  /* navbar */

  .navbar-second{
    background-color: transparent;
    text-align: center;
  }



  .navbar-second .nav li a {
    color: #F4764B;
    font-family: "Cavorting", "sans-serif";
    margin-top: 20px;
    font-size: 90px;
    border-color: transparent;
    border: none;
  }

  .navbar-principal{
    background-color: transparent;
    text-align: center;
  }

  .navbar-header{
    visibility: collapse;
  }

  .navbar-toggle {
      display: block;
      margin: 10px 0px 0px 0px;
  }


  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
      text-align: center;
  }

  .navbar-collapse.collapse {
  }

  .navbar-nav {
      float: none!important;
      margin: 7.5px -15px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }

  .navbar .container-fluid {
    margin-left: 5%;
    margin-right: 5%;
  }

}

@media only screen and (min-width: 768px) {
  /* sidebar cart */

  #sidebar-wrapper {
      margin-right: -330px;
      right: 0;
      top: -20px;
      width: 330px;
      background: white;
      position: fixed;
      height: 120%;
      overflow-y: auto;
      z-index: 1000;
      -webkit-transition: all 0.4s ease 0s;
      -moz-transition: all 0.4s ease 0s;
      -ms-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s;
  }

  #sidebar-wrapper.active {
      right: 330px;
      width: 330px;
      border-left: 1px solid #ccc;
      -webkit-transition: all 0.4s ease 0s;
      -moz-transition: all 0.4s ease 0s;
      -ms-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s;
  }

  #sidebar-content {
    display: block;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 330px;
    margin: 0 auto;
  }

  /* navbar */

  .navbar-second {
    display: none;
  }

  .navbar  {
    margin-top: 30px;
    border-top: none;
  }

  .navbar-brand {
    margin-bottom: auto;
    position: relative;
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 80px;
  }



  .navbar-header .nav li a {
    color: #F4764B;
  }

  .navbar-collapse li a {
    height: 55px;
  }

  .navbar-header{
    padding-left: 80px;
    padding-top: 5px;
  }

  .navbar .container-fluid {
    padding-left: 10%;
    padding-right: 10%;
  }

  .navbar-principal {
    width: 100%;
    height: 70px;
  }

  .navbar-footer {
  }

  .nav-collapse{
    display: none;
  }

}

.form-control:focus {
  border-color: #F4764B;
  box-shadow: inset 0 0px 0px rgb(254, 137, 44), 0 0 0px rgb(0,0,0);
}
.form-control:hover {
  border-color: #F4764B;
  box-shadow: inset 0 0px 0px rgb(254, 137, 44), 0 0 0px rgb(0,0,0);
}

.btn-primary {
  background-color: #F4764B;
  font-family: "Cavorting", "sans-serif";
  font-size: 25px;
  border-color: transparent;
  border: none;
}

.btn-sec {
  border-width: 2px;
  border-color: rgb(254, 137, 44);
  font-family: "Cavorting", "sans-serif";
  font-size: 20px;
}

.btn-sec:hover {
  background-color: rgb(254, 137, 44);
  font-family: "Cavorting", "sans-serif";
  font-size: 20px;
}
