<header>
  <% if logged_in? && current_user.is_admin? %>

  <nav class="navbar navbar-default navbar-principal">
    <div class="container-fluid">

      <button class="navbar-toggle pull-left" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false" aria-controls="navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="collapse navbar-collapse navbar-header">
        <ul class="nav">
          <li><a href="/" class="navbar-brand cavorting-font" >Nuts</a></li>
        </ul>
      </div>



      <div class="collapse navbar-collapse navbar-right" id="navbar-collapse-1">
        <ul class="nav navbar-nav pull-right claire-font">

          <li><a href='/admin/users'>Usuarios</a></li>
          <li><a href='/admin/orders'>Ordenes</a></li>
          <li><a href='/admin/products'>Productos</a></li>
          <li><a href='/logout'>Log Out</a></li>

        </ul>
      </div>
    </div>
  </nav>

  <% else %>

  <nav class="navbar navbar-default navbar-principal">

    <div class="container-fluid">

      <button class="navbar-toggle pull-left" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false" aria-controls="navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="pull-right">
        <ul class="nav navbar-nav pull-right ">
          <li id="menu-toggle"><a href='#' class="span-icons"><span class="glyphicon glyphicon-shopping-cart"></span><%= current_order.order_items.size %></a></li>
        </ul>
      </div>


      <div class="collapse navbar-collapse navbar-header">
        <ul class="nav">
          <li><a href="/" class="navbar-brand cavorting-font" >Nuts</a></li>
        </ul>
      </div>

      <div class="collapse navbar-collapse navbar-right" id="navbar-collapse-1">
        <ul class="nav navbar-nav pull-right claire-font">

          <li><a href='/shop'>Tienda</a></li>
          <li><a href='/about'>Sobre Avellano</a></li>
          <li><a href='/help'>FAQs</a></li>
          <% if !logged_in? %>
            <li><a href='/login' class="span-icons"><span class="glyphicon glyphicon-user"></span></a></li>
          <% else %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuario<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/users/<%= current_user.id %>">Perfil</a></li>
                <li><a href='/logout'>Cerrar Sesión</a></li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <% end %>

  <nav class="navbar navbar-second">
    <ul class="nav">
      <li><a href="/">Nuts</a></li>
    </ul>
  </nav>

</header>


<!-- Side Menu -->
<div id="sidebar-wrapper">
  <div id="sidebar-content">
    <h2> Carro de compras </h2>
    <a id="menu-close" href="#" class="pull-right toggle">X</a>
      <%= render "carts/shopping_cart" %>
  </div>
</div>
<!-- /Side Menu -->
