<header>

  <nav class="navbar navbar-default navbar-principal" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">

      <button class="navbar-toggle pull-left" data-toggle="collapse" data-target="#navbar-collapse-1" >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar" ></span>
        <span class="icon-bar" ></span>
        <span class="icon-bar" ></span>

      </button>

      <a href="/" class=" collapse navbar-collapse navbar-brand cavorting-font" style="color: #F4764B" >Nuts</a>

      <div class="navbar-cart-collapse pull-right ">
        <ul class="nav navbar-nav pull-right ">
          <li id="sidebar-toggle"><a href='#' class="span-icons"><span class="glyphicon glyphicon-shopping-cart"></span><%= current_order.order_items.size %></a></li>
        </ul>
      </div>
    </div>

    <% if logged_in? && current_user.is_admin? %>

      <div class="collapse navbar-collapse navbar-menu navbar-right" id="navbar-collapse-1">
        <ul class="nav navbar-nav pull-right">
          <li><a href='/admin/users'>Usuarios</a></li>
          <li><a href='/admin/orders'>Ordenes</a></li>
          <li><a href='/admin/products'>Productos</a></li>
          <li><a href='/logout'>Log Out</a></li>
        </ul>
      </div>

    <% else %>

    <div class="navbar-cart pull-right ">
      <ul class="nav navbar-nav pull-right ">
        <li id="sidebar-toggle"><a href='#' class="span-icons"><span class="glyphicon glyphicon-shopping-cart"></span><%= current_order.order_items.size %></a></li>
      </ul>
    </div>

      <div class="collapse navbar-collapse navbar-menu navbar-right" id="navbar-collapse-1">
        <ul class="nav navbar-nav pull-right">

          <li><a href='/shop'>Tienda</a></li>
          <li><a href='/about'>Sobre Avellano</a></li>
          <li><a href='/help'>FAQs</a></li>
          <% if !logged_in? %>
          <li class="hidden-xs hidden-sm hidden-md"><a href='/login' class="span-icons"><span class="glyphicon glyphicon-user"></span></a></li>
          <li class="hidden-lg"><a href='/login'>Mi Cuenta</a></li>
          <% else %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle  span-icons" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/users/<%= current_user.id %>">Perfil</a></li>
                <li><a href='/logout'>Cerrar Sesión</a></li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>

    <% end %>
  </div>
</nav>

  <nav class="navbar navbar-second">
    <ul class="nav">
      <li><a href="/">Nuts</a></li>
    </ul>
  </nav>
</div>

</header>


<!-- Side Menu -->
<div id="sidebar-wrapper">
  <div id="sidebar-content">
    <h2> Carro de compras </h2>
    <a id="sidebar-close" class="pull-right toggle">X</a>
      <%= render "carts/shopping_cart" %>
  </div>
</div>
<!-- /Side Menu -->
